[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/anamazov/course_work_4
ExecStart=/home/anamazov/course_work_4/venv/bin/python app.py

[Install]
WantedBy=multi-user.target
